<section class="vh-90 gradient-custom mb-3">
   

   
        <p class="text-white-50 mb-5  mt-3">Now,You can enter with your right foot</p> 
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">

                            <p class="text-white-50 mb-5 card-body ">Your password has been successfully recovered, now you can log in again</p>


                           
                            <p class="btn btn-outline-light btn-lg px-5" > <a asp-action="SignIn"> Login </a></p>
                        </div>
                    </div>


                    </div>
                </div>
            </div>
</section>

